In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.

import os
from dotenv import load_dotenv
load_dotenv()

g_key = os.getenv('g_key')

In [2]:
# Store the cities from the cities.csv file created previously into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-07-20 22:39:13,-21.2000,-175.2000,78.96,78,40,9.22
1,1,Shimoda,JP,2022-07-20 22:44:06,34.6667,138.9500,81.25,79,95,8.46
2,2,Labuan,MY,2022-07-20 22:44:07,5.2767,115.2417,79.16,94,20,0.00
3,3,Atuona,PF,2022-07-20 22:40:08,-9.8000,-139.0333,77.56,75,7,14.74
4,4,Rikitea,PF,2022-07-20 22:44:08,-23.1203,-134.9692,73.47,74,0,3.60

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                                     max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

In [26]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-07-20 22:39:13,-21.2000,-175.2000,78.96,78,40,9.22
1,1,Shimoda,JP,2022-07-20 22:44:06,34.6667,138.9500,81.25,79,95,8.46
2,2,Labuan,MY,2022-07-20 22:44:07,5.2767,115.2417,79.16,94,20,0.00
3,3,Atuona,PF,2022-07-20 22:40:08,-9.8000,-139.0333,77.56,75,7,14.74
5,5,Bojnurd,IR,2022-07-20 22:44:08,37.4747,57.3290,75.15,64,0,2.30
12,12,Hilo,US,2022-07-20 22:36:25,19.7297,-155.0900,84.27,75,75,6.91
14,14,Butaritari,KI,2022-07-20 22:40:56,3.0707,172.7902,81.01,80,66,8.48
30,30,Tezu,IN,2022-07-20 22:39:11,27.9167,96.1667,75.92,98,100,1.77
31,31,Jibuti,DJ,2022-07-20 22:44:24,11.5000,42.5000,83.57,44,100,17.27
32,32,Erzin,TR,2022-07-20 22:44:25,36.9559,36.2000,75.90,57,0,2.13

In [32]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [29]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 573
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     192 non-null    int64
 1   City        192 non-null    object
 2   Country     192 non-null    object
 3   Date        192 non-null    object
 4   Lat         192 non-null    float64
 5   Lng         192 non-null    float64
 6   Max Temp    192 non-null    float64
 7   Humidity    192 non-null    int64
 8   Cloudiness  192 non-null    int64
 9   Wind Speed  192 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 16.5+ KB

In [31]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [36]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head()

      City Country  Max Temp      Lat       Lng Hotel Name
0    Vaini      TO     78.96 -21.2000 -175.2000
1  Shimoda      JP     81.25  34.6667  138.9500
2   Labuan      MY     79.16   5.2767  115.2417
3   Atuona      PF     77.56  -9.8000 -139.0333
5  Bojnurd      IR     75.15  37.4747   57.3290

In [39]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [40]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
        
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
        
        
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
        
        
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
        
    try:
            
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
            
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng               Hotel Name
0        Vaini      TO     78.96 -21.2000 -175.2000      Keleti Beach Resort
1      Shimoda      JP     81.25  34.6667  138.9500      Shimoda Tokyu Hotel
2       Labuan      MY     79.16   5.2767  115.2417       Tiara Labuan Hotel
3       Atuona      PF     77.56  -9.8000 -139.0333              Villa Enata
5      Bojnurd      IR     75.15  37.4747   57.3290     Hotel negin bojnourd
12        Hilo      US     84.27  19.7297 -155.0900      Hilo Hawaiian Hotel
14  Butaritari      KI     81.01   3.0707  172.7902       Isles Sunset Lodge
30        Tezu      IN     75.92  27.9167   96.1667            Circuit House
31      Jibuti      DJ     83.57  11.5000   42.5000  Orchid Main Camp Goubet
32       Erzin      TR     75.90  36.9559   36.2000             Artemis Otel

In [45]:
# Pop-up marker box template with hotel info

info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))